<!DOCTYPE html>
<html>
  <head>
    <title>bookers</title>
    <!--<%= csrf_meta_tags %>-->
    <!--<%= csp_meta_tag %>-->
    <link rel="stylesheet" href="homes.scss">
  </head>
  <main>
    <"h1">ようこそ<strong>Bookers へ！</strong></h1>
    <p><strong>Bookers</strong>では、さまざまな書籍に関するあなたの意見や<br>
       印象を共有し交換することができます</p>
    <p calss="start"><a href="/books">start</a></p>
  </main>
</html>


