* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 237px;
  width: 940px;
  display: block;
}

body {
  height: 171px;
  width: 874px;
}

.h1 {
  height: 18px;
  width: 874px;
}

 .p{
  height: 18px;
  width: 874px;
}
