* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: block;
  font-size: 13px;
  line-height: 18px;
  margin: 33px;
  font-family: verdana, arial, helvetica, sans-serif;
  color: #333;
}


h1 {
  display: block;
  width: 100%;
  margin: 20px;
  line-height: 18px;
  font-size: 26px;
  font-family: verdana, arial, helvetica, sans-serif;
}

h2 {
  display: block;
  width: 100%;
  margin: 20px;
  line-height: 18px;
  font-size: 26px;
  font-family: verdana, arial, helvetica, sans-serif;
}

p {
  display: block;
  font-size: 13px;
  line-height: 18px;
  margin: 33px;
  font-family: verdana, arial, helvetica, sans-serif;
}


